# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.nx/

node_modules
dist
dist-ssr
*.local

# Editor directoriepnpm setups and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cache
.cache
*.tsbuildinfo
.eslintcache

# Build directories (next.js...)
/.next/
/out/
/build


# testing
**/coverage/

# Misc
examples

.claude/worktrees
.claude/settings.local.json